/* 

--text: #ffffff;
--background: #ec90ee;
--primary: #6491eb;
--secondary: #e63fbd;
--accent: #a9e999;


*/

/* body {
    background-color: #ec90ee;
    color: white;
} */

button {
    background-color: #ec90ee;
    /* border-radius: 20px; */
    padding: 18px;
    font-size: medium;
    border-color: pink;
    color: white;
    
}


h1 {
    color: white;
}

.blackH1 {
    color: black;
}
